<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Curso</title>

    <!-- -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.css">


    <link rel="stylesheet" href="app/css/pd-app.css">
    <link rel="stylesheet" href="arquitetura/directives/pd-input-text/pd-input-text.css">
    <!-- -->

    <!-- imports externos -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>

    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="node_modules/angular-loading-bar/build/loading-bar.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!-- fim imports externos -->

    <script src="app/config/pd-app.module.js"></script>
    <script src="app/config/pd-rotas.config.js"></script>
    <script src="arquitetura/services/pd-alert.service.js"></script>
    <script src="app/filter/pd-maiusculo.filter.js"></script>
    <script src="app/controller/index11-crud.controller.js"></script>

    <script src="arquitetura/directives/pd-hello-world/pd-hello-world.directive.js"></script>
    <script src="arquitetura/directives/pd-input-text/pd-input-text.directive.js"></script>
    <script src="arquitetura/directives/pd-select/pd-select.directive.js"></script>
    <script src="arquitetura/directives/pd-panel/pd-panel.directive.js"></script>
    <script src="arquitetura/directives/pd-crud/pd-crud.directive.js"></script>

</head>
<body ng-app="pdCurso"
      ng-controller="Index11CrudController as vm"
      md-theme="blue"
      ng-cloak>


<pd-crud titulo="Cadastro de pessoa"
         salvar="vm.salvar()"
         limpar="vm.limpar()"
         excluir="vm.excluir()">
    <pd-crud-body>
        <div class="row">
            <pd-input-text
                    label="Nome"
                    ng-model="vm.entidade.nome"
                    colspan="3"
                    ng-required="true">
            </pd-input-text>
            <pd-input-text
                    label="Sobrenome"
                    ng-model="vm.entidade.sobrenome">
            </pd-input-text>
            <pd-select
                    label="Sexo"
                    ng-model="vm.entidade.sexo"
                    ng-required="true"
                    provider="vm.sexo">
            </pd-select>

            {{vm.entidade.sexo}}
        </div>
    </pd-crud-body>
    <pd-crud-footer>
        <md-button class="md-raised md-primary">Imprimir</md-button>
    </pd-crud-footer>
</pd-crud>
</body>
</html>